
.wrap{
    width: 892px;
}

@media (max-width:520px) {
.wrap{  
        width: 350px;
        flex-direction: column; 
        overflow: scroll;
        margin-top: 10px;
}}

.categoriesList{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 0.8fr 0.6fr 0.8fr 0.9fr 0.7fr 0.5fr;
    grid-template-rows: 1fr ;
    border-bottom: 1px solid #EEEEEE;
    }
    @media (max-width:520px) {
        .categoriesList{  
            width: 330px;
        }}

.categoriesItem{
display: flex;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.01em;
color: #B5B7C0;
list-style: none;
padding: 24px 0 ;
}

@media (max-width:520px) {
    .categoriesItem{  
    width: 130px;
    }}


.categoriesItem:last-child{
    justify-content: center;
}
