.wrap{
    display: flex;
    align-items: center;
    width: 216px;
    height: 38px;
    background: #F9FBFF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 10px;
}

input{
    margin-left: 5px;
    border: none;
    outline: none;
    background: #F9FBFF;
    font-family: 'Poppins';
    color: #B5B7C0;
}

    img{
        font-size: 20px;
    }